<h1>Honor Society</h1>

<div id="masonry-container">
<% @honor_societies.each do |honor_society| %>
<div class="box">
   <h5 id="fit"> <%= link_to honor_society.name, honor_society %></h5>
    
    <br></li>
</div>

<% end %>

</div>